body{
	background-color: lavender;
}

h1{
	text-align: center;
	font-size: 50px;
}

.div1{
	display: fixed;
	float: left;
	width: 150px;
	height: 1000px;
}

nav{
	display: absolute;
	float: left; 
	background-color: teal;
	height: 1100px;
	width: 200px;
	list-style-type: none;
}

ul{
	list-style-type: none;
}

p{
	display: absolute;
	float: left;
	background-color: black;
	height: 350px;
	width: 800px;
	color: lavender;
	font-size: 20px;
	margin: 0;
	font-family: "Georgia", serif;
	text-align: center;
}

.img1{
	float: left;
	margin: 10px;
	padding: 10px;
}

.img2{
	float: left;
	margin: 10px;
	padding: 10px;
}

.img3{
	float: left;
	margin: 10px;
	padding: 10px;
}

.div4{
	float: left;
	margin: 0px;
	background-color: black;
	width: 800px;
	height:400px;
}


