h1 {
	font-size: 50px;
	color:black;
	text-align: center;
}
nav {
	background-color: black;
	width: 100%;
	height: 45px;
	line-height: 36px;
	position: fixed;
	left:0%;
 	top:0%;
	margin: 0px; 
 	padding: 0;
 	border-bottom: none;
}
body{
	background-color: lightskyblue;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

li {
	display: inline;
	font-family: "Georgia";
    font-size: 15px;
}
a{
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	color: white;
	font-family: "Georgia";
    font-size: 15px;
      font-weight: 700;    
}

img{
	max-width: 100%;
	margin: 0px auto;
	display: block;
}

table {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: "Georgia";
      font-size: 15px;
      width: 65%;
	max-width: 100%;
	margin: 0px auto;

}

td {
      border: 2px solid black;
      color: #444;
      line-height: 22px;
      text-align: center;
      padding:5px;
      background: lightskyblue;
    }
tr:first-child td {
      color: #222;  
      font-weight: 400;
      max-width: 100%;
    }


header{
  color: black;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  font-size: 200%;
  font-family: "Baskerville";
}