body{
	background-color: blue;
}

.img1{
	float: left;
}

.img2{
	float: left;
}

.img3{
	float: left;
}

.img4{
	float: left;
}

.img4{
	float: left;
}

.img5{
	float: left;
}

.img6{
	float: left;
}